body{
    height: 100%;
}
#LoginForm-body{
    display: table;
    
    margin:  8% auto;
    border: 5px solid lightgray;
    padding: 20px;
}
.Loginform-input{
    display: table-cell;
    vertical-align: middle;
}
.example {
    text-align: center;
    background: rgba(0, 0, 0, 0.05);
    border-radius: 4px;
    margin-bottom: 20px;
    padding: 30px 50px;
    margin: 20px 0;
  }
 

